<html>
<head>
        <title>Skill Gap Analyzer</title>
</head>
<body>
    <h2>Student Skill Gap Analyzer</h2>
<form method="POST" action="/analyze">
<label>Enter your skills:</label><br>
<input type="text" name="skills" placeholder="Python, SQL, HTML">
<br><br>
<label>Select Job Role:</label><br>
<select name="job_id">
<option value="1">Data Analyst</option>
<option value="2">Backend Developer</option>
<option value="3">ML Engineer</option>
</select>

<br><br>

<button type="submit">Analyze</button>
</form>
</body>
</html>